boto3==1.35.26
botocore==1.35.26
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
docker==7.1.0
exceptiongroup==1.2.2
freezegun==1.5.1
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==2.1.5
moto==5.0.15
packaging==24.1
pluggy==1.5.0
py-partiql-parser==0.5.6
pycparser==2.22
pytest==8.3.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
responses==0.25.3
s3transfer==0.10.2
six==1.16.0
tomli==2.0.1
types-PyYAML==6.0.12.20240917
urllib3==1.26.18; python_version < "3.10"
urllib3==2.2.3; python_version >= "3.10"
websocket-client==1.8.0
Werkzeug==3.0.4
xmltodict==0.13.0
